h5 {
    line-height: 1.75rem !important;
    display: inline-block;
}
.card {
    padding: 1rem;
    background-color: lightgray;
}

.game-favorite {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.delete-favorite {
    padding-top: 1rem;
}