.card {
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
}

.card-image {
    /* margin-left: 1rem; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-shrink: 0;
    /* background-color: lightgray; */
    padding: 10px;
}

.card-content {
    max-width: 100%;
    /* background-color: lightgray; */
    margin-left: 2rem;
}

.game-poster {
    height: 100%;
    width: 180px;
    max-width: 1800px;
    max-height: 180px;
    
}

.game-summary {
    max-height: 120px;
    overflow: hidden;
}
.left-align{
    font-weight: bold;
}
.right{
    font-size: 25px;
}