.chat-message {
  line-height: 1.5em;
  text-align: left;
  background-color: #282828;
}

.chat-message.log {
  color: rgb(199, 196, 196);
}

.chat-message .author {
  font-weight: bold;
  color: rgb(177, 30, 49);
  margin: 0 5px 0 0;
}

.chat-message.me {
  text-align: right;
}

.chat-message.me .author {
  color: #25832d;
}