h5,
h6 {
    line-height: 1rem;
}

.card {
    padding: 0;
}

.card-content {
    padding: 2px !important;
    padding-left: 8px !important;
    width: 100%;
}

.comment-card {
    cursor: auto;
}

.comment-content {
    margin: .15rem .5rem;
}

.shaded {
    background-color: rgb(122, 122, 122) !important;
}

.reply-button {
    padding: 0;
    height: auto;
    line-height: 18px; 
}

.comment-by,
.comment-at {
    font-size: .8rem;
    color: grey;
}